@model Domain.Entities.Doctor

@{
    
}

<form asp-action="CreateDoctor">
    <h3>Добавить доктора</h3>
    <div>
        <label asp-for="@Model.FirstName">Имя</label>
        <input asp-for="@Model.FirstName" />
    </div>
    <div>
        <label asp-for="@Model.SecondName">Фамилия</label>
        <input asp-for="@Model.SecondName" />
    </div>
    <div>
        <label asp-for="@Model.PassportNumber">номер паспорта</label>
        <input asp-for="@Model.PassportNumber" />
    </div>
    <div>
        <label asp-for="@Model.Birthday">дата рождения</label>
        <input asp-for="@Model.Birthday" type="date" />
    </div>
    <div>
        <label asp-for="@Model.Birthday">дата начала профессиональной деятельности</label>
        <input asp-for="@Model.Birthday" type="date" />
    </div>
    <div>
        <select asp-for="@Model.Specialization.Id" asp-items=@ViewBag.Specializations>
            <option value="0">Please select</option>
        </select>
    </div>
    <input type="submit" />
</form>
