@model Domain.Entities.Doctor

@{
    
}

<form>
    <div>
        <label asp-for="@Model.FirstName">Имя</label>
        <input asp-for="@Model.FirstName" />
    </div>
    <div>
        <label asp-for="@Model.LastName">Имя</label>
        <input asp-for="@Model.LastName" />
    </div>
    <div>
        <label asp-for="@Model.PassportNumber">Имя</label>
        <input asp-for="@Model.PassportNumber" />
    </div>
    <div>
        <label asp-for="@Model.Specialization">Имя</label>
        <input asp-for="@Model.Specialization" />
    </div>
</form>
